*{
  box-sizing: border-box;
}
.text-carousel{
  font-weight: bold;
  position: absolute;
  top: 20%;
  font-size: 4vw;
  left: 32%;
  color: #00adb5;
}
.text-carousel-2{
  font-weight: bold;
  position: absolute;
  top: 20%;
  margin-left: 25px;
  font-size: 4vw;
  text-align: center;
  color: #00adb5;
}
#btn-carousel{
  position: absolute;
  max-height: 10vh;
  max-width: 20vw;
  min-width: 100px;
  top: 45%;
  left: 40%;
  font-size: 2vw;
  border-color: #3b6978;
  background-color:#00adb5 ;
  text-transform: uppercase;

}


.text-white:hover{
  color:  #00adb5 !important;
}

.text-white:focus{
  color:  #00adb5 !important;
}
.carousel-button{
  position: absolute;
  top: 200px;
  left: 400px;
}

.text-me{
  color: #00adb5;
  font-weight: bold;
}

.box-services {
  height: 350px;
  border: 1.2px solid #00adb5;
  border-radius: 5px;
  margin-top: 5px;
  color: #3b6978;
  font-weight: bold;
}
.card > img {
  padding-top: 5px;
  max-width: 90%;
  max-height: 90%;
}
#aboutme {
  background: linear-gradient(white,#ccc );
}

.img-logo{
  width: 70px;
  height: 70px;
  filter: grayscale(1)
}
.img-logo:hover{
  filter: grayscale(0);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.img-me{
  border: 2px solid #3b6978;
  padding: 2px;
  border-radius: 500px;
  
}

@media(max-width: 800px){
  .fixed-top{
    position: static;
  }
}